# Ignore bin and obj folders
bin/
obj/

# Specific files
appsettings.Development.json
Core/Certificate.pfx

# User-specific files
*.user
*.suo

# VS temporary files
.vs/

# Build results
[Dd]ebug/
[Rr]elease/