@{
    Layout = "_AccountLayout";
}
@model ForgotPasswordViewModel

<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>

<form class="default" asp-controller="Account" asp-action="ForgotPassword" method="post">
    <h3>Password Recovery</h3>
    <hr />
    <h7>Enter your email address and we will send you a link to reset your password.</h7>
    <div asp-validation-summary="All" class="text-danger"></div>
    <label asp-for="Email">Email</label>
    <input asp-for="Email" type="email" placeholder="Email" id="email">

    <button type="submit">Reset Password</button>

    <div class="social">
        <a asp-controller="Account" asp-action="Login">Return to login</a>
        <a class="secondButton" asp-controller="Account" asp-action="Register">Register</a>
    </div>
</form>
